#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_install:
	dh_auto_install -- prefix=/usr
	mkdir -p debian/openh264/usr/lib/$(DEB_HOST_MULTIARCH)/pkgconfig
	sed -e "s/x86_64-linux-gnu/$(DEB_HOST_MULTIARCH)/g" openh264.pc > debian/openh264/usr/lib/$(DEB_HOST_MULTIARCH)/pkgconfig/openh264.pc
